<h1><strong>Select Date Range</strong></h1>
<form method="GET">
  <label for="startDate">Start Date:</label>
  <input type="date" id="startDate" name="startDate" value="<%= startDate ? startDate : '' %>" required>
  <br>
  <label for="endDate">End Date:</label>
  <input type="date" id="endDate" name="endDate" value="<%= endDate ? endDate : '' %>" required>
  <br>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<h2>Expenses</h2>
  <% if (expenses && expenses.length > 0) { %>
    <dl>
      <% expenses.forEach(function(expense) { %>
        <dt>
          <strong><a href="<%= expense.url %>"><%= expense.item_name %></a></strong>
          <p>Price: $<%= expense.price %></p>
          <p>Date Bought: <%= expense.date_bought_formatted %></p>
        </dt>
      <% }); %>
    </dl>
  <% } else { %>
    <p>There are no expenses in between these dates.</p>
  <% } %>