<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <ul class="sidebar-nav">
                    <li><a href="/catalog">Home</a></li>
                    <li><a href="/catalog/expenses">All expenses</a></li>
                    <li><a href="/catalog/stores">All stores</a></li>
                    <li><a href="/catalog/spendingcategories">All spending categories</a></li>
                    <li><a href="/catalog/expenses/by-date">Spending by Date</a></li>
                    <li><hr></li>
                    <li><a href="/catalog/expense/create">Create new expense</a></li>
                    <li><a href="/catalog/store/create">Create new store</a></li>
                    <li><a href="/catalog/spendingcategory/create">Create new spending category</a></li>
                </ul>
            </div>
            <div class="col-sm-10">
              <% if (title == "Home") { %>
                <%- include ('home') %>
              <% } else if (title == "Expense List") { %>
                <%- include ('expense_list') %>
              <% } else if (title == "Spending Categories List") { %>
                <%- include ('spending_categories_list') %>
              <% } else if (title == "Stores List") { %>
                <%- include ('store_list') %>
              <% } else if (title == "Expenses by Date") { %>
                <%- include ('expense_by_date_form') %>
              <% } else if (title == "Expenses by Date") { %>
                <%- include ('expense_by_date_form') %>
              <% } else if (title == "Expense Detail") { %>
                <%- include ('expense_detail') %>
              <% } else if (title == "Spending Category Detail") { %>
                <%- include ('spending_category_detail') %>
              <% } else if (title == "Store Detail") { %>
                <%- include ('store_detail') %>
              <% } else if (title == "Create Store") { %>
                <%- include ('store_form') %>
              <% } else if (title == "Create Spending Category") { %>
                <%- include ('spending_category_form') %>
              <% } else if (title == "Create Expense") { %>
                <%- include ('expense_form') %>
              <% } else if (title == "Delete Store") { %>
                <%- include ('store_delete') %>
              <% } else if (title == "Delete Spending Category") { %>
                <%- include ('spending_category_delete') %>
              <% } else if (title == "Delete Expense") { %>
                <%- include ('expense_delete') %>
              <% } %>
            </div >
        </div>
    </div>
  </body>
</html>